<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>Textutils</title>
</head>
<body>
<h1>Welcome to the text analyzer.Enter your text
below</h1>
<form method='get'  action='/analyze' >
    <textarea name='text' style='width: 710px; height: 72px;'></textarea> <br>
    <input type="checkbox" name="removepunc">Remove Punctuations <br>
    <input type="checkbox" name="UPPERCASE">Change to UPPER CASE<br>
    <input type="checkbox" name="newlineremover"> New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br>
    <button type ='Submit'>analyzer Text</button>
</form>

<div>
    <form action ='/ex1'>
    <h1>Open Site on click on more button</h1>
    <button>Open click to move more site</button>
        </form>
</div>
</body>
</html>